version: "3.9"

services:
  bot:
    build:
      context: .
      dockerfile: deploy/docker/bot/Dockerfile
    env_file: .env
    depends_on:
      - postgres
      - redis

  pred_bot:
    build:
      context: .
      dockerfile: deploy/docker/pred/Dockerfile
    env_file: .env
    depends_on:
      - redis
      - postgres

  worker:
    build:
      context: .
      dockerfile: deploy/docker/worker/Dockerfile
    env_file: .env
    depends_on:
      - redis
      - postgres

  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: varsher
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
